{{> navbar }}
<h1 class="mt-5 mx-auto" style="width: 400px">Propiedades en pozo</h1>
<div class="container-xl">
	<div class="d-flex flex-wrap justify-content-between mt-5">
		{{#each constructionData}}
			{{> card}}
		{{/each}}
		</ul>
	</div>
</div>